<a href="https://colab.research.google.com/github/sh92/Algorithms-Study/blob/master/Fefature_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [37]:
import numpy as np

In [25]:
df = pd.read_csv('/content/drive/MyDrive/data/out.csv', encoding='euc-kr')

In [26]:
y = df['determination']
X = df.drop(['determination'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

Remove Missing Values

In [29]:
train_missing = (X_train.isnull().sum() / len(X_train)).sort_values(ascending = False)

In [30]:
train_missing.head()

T001130    0.241487
T001120    0.230137
T001110    0.230137
T001100    0.230137
T001150    0.054599
dtype: float64

Remove Collinear Variables

In [32]:
# Threshold for removing correlated variables
threshold = 0.9

# Absolute value correlation matrix
corr_matrix = X_train.corr().abs()
corr_matrix.head()

                         checkup_result_data_key       age  ...   T001180   T001190
checkup_result_data_key                 1.000000  0.160771  ...  0.039948  0.038194
age                                     0.160771  1.000000  ...  0.019961  0.184438
T001000                                 0.036609  0.062264  ...  0.031725  0.005510
T001010                                 0.006053  0.054127  ...  0.258571  0.043388
T001020                                 0.028965  0.129040  ...  0.289718  0.003210

[5 rows x 24 columns]

In [38]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [39]:
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
print('There are %d columns to remove.' % (len(to_drop)))

There are 0 columns to remove.

In [41]:
X_train = X_train.drop(columns = to_drop)
X_test = X_test.drop(columns = to_drop)

print('Training shape: ', X_train.shape)
print('Testing shape: ', X_test.shape)

Training shape:  (5110, 24)
Testing shape:  (1704, 24)